body, html {
    margin:0;
    height: 100%;
}

.main-content {
    height: 100%;
    width: 100%;
    //position: absolute;
    background: #f4f7f6;
    padding: 40px;
}

.load-button {
    margin: 0px auto 40px auto;
    display: block;
    //background: #ffffff;
    box-shadow: none;
    //border: 1px solid #000000;
    border: 0;
    padding: 5px 10px 5px 10px;
    width: 150px;
    height: 40px;
    font-weight: 600;
   // border-radius: 4px;

    background: #4d5256;
    color: #ffffff;
}

.hotel-list {
    width: 100%;
    height: 100%;
}

.hotel {
    width: 80%;
    margin: 0 auto 40px auto;
    border: 1px solid #b3c2bf;
    border-radius: 4px;
    background: #e9ece5;
}

.hotel-footer {
    position: absolute;
    width: calc(100% - 20px);
    bottom: 30px;
}

.hotel__content {
    display: flex;
}

//Keep 4:3 ratio
.hotel-image {
    position: relative;
    height: 255px;
    width: 340px;
    //background: red;
    //float: left;

    img {
        width: 100%;
        height: 100%;
    }
}

.hotel-info {
    flex: 1;
    padding: 20px;
    position: relative;

    header {
        display: flex;
    }

    .header-left {
        flex: 1;
    }

    .header-right {
        width: 140px;
    }
}

.hotel-name {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}

.hotel-description__text {
    padding: 20px 0 20px 0;
}

.hotel-star {
    color: #adadad;

    &.filled {
        color: #000000;
    }
}

.price-and-date {
    text-align: right;
    right: 20px;
    position: absolute;
    bottom: 0;
}

.show-review-button {
    //margin: 40px auto 40px auto;
    display: block;
    //background: #ffffff;
    box-shadow: none;
    //border: 1px solid #000000;
    border: 1px solid #4d5256;
    padding: 5px 10px 5px 10px;
    width: 150px;
    height: 40px;
    font-weight: 600;
    //border-radius: 4px;
    position: absolute;
    bottom: 0;

    background: #4d5256;
    color: #ffffff;
    //border-color: #4d5256;

   /* color: #333;
    //border: #333;

    &:hover {
        color: #2dbcb6
    }*/
}

@keyframes expand-list {
    0%   {height: 0;}
    100% {height: 200px;}
}

.review-list {
    //height: 200px;
    height: 0;
    width: 100%;
    //background: red;
    display: block;
    overflow: auto;
}

.review-list-open  {
    //animation-name: expand-list;
    //animation-duration: 0.75s;
    height: 200px;
    transition: height 0.75s;
}